<!DOCTYPE html>
<html>
	<head>
		<title>Graph of Testing Strategy Over Historical Data</title>
		<meta charset="utf-8">
		<meta name = "description" content = "graph">
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'graph.css' ) }}">
		<link href = "https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel = "stylesheet">
	</head>
	<body>
		<div class = "combined_results">
		<img src = "/static/pnl.png">
		<div class = "info_card">
			<p1> Returns: 71,071</p1><br><br>
			<p2> Starting portfolio value: 10,000,000 </p2><br>
			<p3> Ending portfolio value: 10,071,071 </p3><br>
			<p2> Yearly returns:  20,071</p2><br>
		</div>
		</div>
	</body>
</html>